@import "../../../abstract/variables";
.game_dashboard_wrapper {
  padding: 0.3rem;
}
.game_dashboard_header {
  background: $bg-body;
  color: $text-p-color;
  padding: 0.4rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  .game_dashboard_header_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .game_dashboard_header_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.MuiButtonBase-root {
  color: $text-p-color !important;
}

// Game history css
.game__history__wrapper {
  .game__history__cardLayout {
    padding: 10px;
    .game__history__section__title {
      font-size: 18px;
      color: $text-black;
    }
  }
}
