// for responsive
@import "../../../../responsive/breakpoints";
//variables
$button-height: 40px;
$button-width: 15%;
$border-radius: 5px;

.color_games_container {
  padding: 1rem;
  @include breakpoints(miniPortraitTablet) {
    padding: 0px;
  }
  .tab__panel__wrapper {
    @include breakpoints(miniPortraitTablet) {
      padding: 0px;
    }
  }
  .top_content {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    @include breakpoints(miniPortraitTablet) {
      padding: 7px 0;
    }
    .title_with_icon {
      display: flex;
      align-items: center;
      gap: 1rem;
      @include breakpoints(miniPortraitTablet) {
        gap: 5px;
      }
    }
    .amount h3 {
      color: currentColor;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      @include breakpoints(miniPortraitTablet) {
        padding-top: 3px;
        font-size: 15px;
      }
    }
    .top_content_right {
      .count-dwon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
  .game_body {
    width: 100%;
    padding: 0.5rem;
    @include breakpoints(miniPortraitTablet) {
      padding: 0px;
    }
    .color-selectors {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      gap: 0.5rem;
      @include breakpoints(largeMiniMobile) {
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
      }
    }
  }
}

@mixin button-style($background-color) {
  background-color: $background-color;
  color: white;
  border: none;
  outline: none;
  width: $button-width;
  border-radius: $border-radius;
  height: $button-height;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.green-button {
  @include button-style(green);
  flex: 1;
}

.violet-button {
  @include button-style(#9c28b1);
  flex: 1;
}

.red-button {
  @include button-style(red);
  flex: 1;
}
.button0 {
  background-image: linear-gradient(
    to bottom left,
    #ff1100 50%,
    #9c28b1 0
  ) !important;
}
.button6 {
  background-image: linear-gradient(
    to bottom left,
    #0c910c 50%,
    #9c28b1 0
  ) !important;
}

.color_button_container {
  padding: 0.8rem 0rem 0rem 0rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 0.5rem;
}
.records_table {
  .table_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    @include breakpoints(miniPortraitTablet) {
      margin: 5px 0;
    }
  }
}
