@import "../../styles/responsive/breakpoints";
@import "../../styles/abstract/variables";

@keyframes skeleton-loading {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes loading {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.pending_log {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 300px;
    height: 150px;
    animation: skeleton-loading 2s linear infinite alternate;
  }
  .loading {
    margin-top: 20px;
    width: 100%;
    .line-box {
      margin: auto;
      width: 50%;
      height: 5px;
      background-color: rgb(153, 192, 229);
      // border: 1px solid rgb(35, 41, 34);
      border-radius: 20px;
      .line {
        height: 5px;
        border-radius: 20px;
        background-color: #f06e42;
        animation: loading 5s linear infinite alternate;
      }
    }
  }
}

// For Game Loader

.loader {
  width: 100dvw;
  height: 100dvh;
  color: #554cb5;
  position: relative;
  background: radial-gradient(11.2px,currentColor 94%,#0000);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top    left,
          radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top    right,
          radial-gradient(10.08px at top    right,#0000 94%,currentColor) bottom left,
          radial-gradient(10.08px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 22.4px 22.4px;
  background-repeat: no-repeat;
  animation: loader 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes loader {
  33% {
    inset: -11.2px;
    transform: rotate(0deg);
  }

  66% {
    inset: -11.2px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}